<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-alert [isOpen]="isAlertOpen" [header]="alertHeader"
    [message]="alertMessage" [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"></ion-alert>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-card>
        <ion-item>
          <ion-input aria-label="Email" type="text" label="Email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
          <span *ngIf="email?.errors?.['required']">Email is required</span>
          <span *ngIf="email?.errors?.['email']">Email is invalid</span>
        </div>
        <ion-item>
          <ion-input type="password" label="Password" formControlName="password">
            <ion-input-password-toggle slot="end">
            </ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-card>
      <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
        <span *ngIf="password?.errors?.['required']">Password is required</span>
      </div>
    </div>

    <ion-button type="submit" expand="block">Log in</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>